:root {
  --color-1: #434E5E;
  --color-2: #FFFFFF;
}

.contact {
  display: flex;
  flex-direction: row;
  flex-wrap:  nowrap;
}

#profile-photo {
  height: 115px;
}

#primary, #secondary {
  padding: 0 10px 0 10px;
}

img {
  height: 100%;
}

.contact ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  color: var(--color-1);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  color: var(--color-1);
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#secondary {
  margin-left: auto;
  flex-shrink: 3;
}

h1, h2 {
  border-bottom: 1px solid;
}

h2, h3 {
  margin: 5px 0 5px 0;
}

article h4 {
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
}

.job {
  display: flex;
  align-items: center;
}

.organization {
  margin-left: auto;
}

.time-in-position {
  order: 0;
}

.layout {
  display: flex;
}

.main {
  max-width: 71%;
}

.side {
  padding: 0 2% 0 2%;
}

.side .job {
    display: block;
}
